{% extends 'layout/base.html' %}

{% block content %}
<div class="row mt-5">
    <div class="col"></div>
    <div class="col-7">
        <h4 class="mb-0">{{ zone.full_domain }}</h4>
        <div>
            <a class="text-info" href="{{ url_for('dns.zone_edit', dns_zone_id=zone.id) }}"><i class="fas fa-edit fa-sm"></i></a>
            {% if zone.active %}
            <span class="badge badge-pill badge-success">active</span>
            {% else %}
            <span class="badge badge-pill badge-danger">inactive</span>
            {% endif %}

            {% if zone.exact_match %}
            <span class="badge badge-pill badge-primary">exact match</span>
            {% else %}
            <span class="badge badge-pill badge-primary">catch-all</span>
            {% endif %}

            {% if zone.notifications.has_enabled() %}
            <span class="badge badge-pill badge-success">notifications enabled</span>
            {% else %}
            <span class="badge badge-pill badge-warning">notifications disabled</span>
            {% endif %}

            {% if zone.forwarding %}
            <span class="badge badge-pill badge-success">forwarding enabled</span>
            {% else %}
            <span class="badge badge-pill badge-primary">forwarding disabled</span>
            {% endif %}
        </div>

        <ul class="nav nav-tabs mt-4">
            <li class="nav-item">
                <a class="nav-link {{ 'active' if tab == 'records' }}" href="{{ url_for('dns.zone_view', dns_zone_id=zone.id) }}">Records <span class="ml-2 badge badge-pill badge-info">{{ zone.record_count }}</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{ 'active' if tab == 'notifications' }}" href="{{ url_for('dns.zone_notifications', dns_zone_id=zone.id) }}">Notifications</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{ 'active' if tab == 'restrictions' }}" href="{{ url_for('dns.zone_restrictions', dns_zone_id=zone.id) }}">IP Restrictions <span class="ml-2 badge badge-pill badge-info">{{ zone.restrictions.get_enabled()|length }}</span></a>
            </li>
        </ul>

        {% if section == 'records' %}
            {% include 'dns/records/view.html' %}
        {% elif section == 'records_edit' %}
            {% include 'dns/records/edit.html' %}
        {% elif section == 'notifications' %}
            {% include 'dns/notifications/view.html' %}
        {% elif section == 'email_settings' %}
            {% include 'dns/notifications/settings/email.html' %}
        {% elif section == 'slack_settings' %}
            {% include 'dns/notifications/settings/slack.html' %}
        {% elif section == 'restrictions' %}
            {% include 'dns/restrictions/view.html' %}
        {% elif section == 'restrictions_edit' %}
            {% include 'dns/restrictions/edit.html' %}
        {% endif %}
    </div>
    <div class="col"></div>
</div>
{% endblock %}