{% extends 'layout/base.html' %}

{% block content %}

<div class="row mt-5">
    <div class="col-lg"></div>
    <div class="col-lg">
        <div class="card">
            <div class="card-header">Two Factor Authentication</div>
            <div class="card-body">
                <form method="post" action="{{ url_for('auth.login_2fa_process') }}" autocomplete="off">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <input type="hidden" name="next" value="{{ next }}">

                    <div class="form-group">
                        <input name="otp" type="password" class="form-control" placeholder="Your 6-digit OTP Code" autofocus>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block">login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg"></div>
</div>

{% endblock %}