Flask<2.0.0
Flask-SQLAlchemy==2.5.1
Flask-Migrate
Flask-WTF
Flask-Login
Flask-Bcrypt
Flask-Mail
packaging
psutil
gunicorn
Twisted
ldap3
Flask-Crontab
pywebpush
psycopg2
PyMySQL
pyotp
tabulate
python-dotenv
progressbar2
pyrad
markupsafe==2.0.1
sqlalchemy==1.4.39
