options {
        directory "/var/cache/bind";

        forwarders {
           {{ dns.forward_host }} port {{ dns.forward_port }};
        };
        forward only;

        dnssec-validation no;
        auth-nxdomain no;    # conform to RFC1035

        allow-transfer {
            none;
        };
};