{% if current_user.admin %}
<h4>System</h4>
<nav class="nav nav-pills flex-column pb-3">
    <a class="nav-link {{ 'active' if active_nav == 'dns' }}" href="{{ url_for('config.dns') }}"><i class="fas fa-satellite fa-fw"></i> <span class="pl-2">DNS</span></a>
    <a class="nav-link {{ 'active' if active_nav == 'daemon' }}" href="{{ url_for('config.daemon') }}"><i class="fas fa-robot fa-fw"></i> <span class="pl-2">DNS Daemon</span></a>
    <a class="nav-link {{ 'active' if active_nav == 'smtp' }}" href="{{ url_for('config.smtp') }}"><i class="fas fa-at fa-fw"></i> <span class="pl-2">SMTP</span></a>
    <a class="nav-link {{ 'active' if active_nav == 'webpush' }}" href="{{ url_for('config.webpush') }}"><i class="fas fa-bell fa-fw"></i> <span class="pl-2">Push Notifications</span></a>
    <a class="nav-link {{ 'active' if active_nav == 'ldap' }}" href="{{ url_for('config.ldap') }}"><i class="fas fa-passport fa-fw"></i> <span class="pl-2">LDAP</span></a>
    <a class="nav-link {{ 'active' if active_nav == 'password_complexity' }}" href="{{ url_for('config.password_complexity') }}"><i class="fas fa-puzzle-piece fa-fw"></i> <span class="pl-2">Password Complexity</span></a>
    <a class="nav-link {{ 'active' if active_nav == 'users' }}" href="{{ url_for('config.users') }}"><i class="fas fa-users fa-fw"></i> <span class="pl-2">Users</span></a>
</nav>
{% endif %}

<h4>Account</h4>
<nav class="nav nav-pills flex-column">
    {% if not current_user.ldap %}
    <a class="nav-link {{ 'active' if active_nav == 'password' }}" href="{{ url_for('config.password') }}"><i class="fas fa-key fa-fw"></i> <span class="pl-2">Change Password</span></a>
    {% endif %}
</nav>