/* https://stackoverflow.com/questions/3790935/can-i-hide-the-html5-number-input-s-spin-box */
.hide-spin-buttons::-webkit-inner-spin-button,
.hide-spin-buttons::-webkit-outer-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
}

.hide-spin-buttons {
  -moz-appearance:textfield !important;
}

/* For when d-none doesn't work */
.hidden {
    display: none !important;
}

/* The border for the QR code as */
.qr-box canvas {
    border: 32px solid white;
}

.zone-edit-badge {
    top: -10px;
    font-size: 0.5em;
}

/* Fix for select2 foreground colour on dark themes. */
.select2-container {
    color: black;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #303030;
  color: white;
}