{% extends 'layout/base.html' %}

{% block content %}
<div class="row mt-5">
    <div class="col"></div>
    <div class="col-6">
        <div class="card">
            <div class="card-header">{{ 'Edit' if is_edit else 'Create' }} DNS Zone</div>
            <div class="card-body">
                <form action="{{ url_for('dns.edit_save', dns_zone_id=dns_zone_id) }}" method="post">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

                    <div class="form-group">
                        <label for="domain">Domain</label>
                        <input type="text" name="domain" id="domain" class="form-control form-control-sm text-right" value="{{ zone.domain if is_edit }}" placeholder="any.domain.you.want.com." required>
                    </div>

                    <div class="form-group">
                        <label for="ttl">TTL</label>
                        <input type="number" name="ttl" id="ttl" class="form-control form-control-sm text-right hide-spin-buttons" value="{{ zone.ttl if is_edit }}" placeholder="60" required>
                    </div>

                    <div class="form-group">
                        <label for="class">Class</label>
                        <select name="class" id="class" class="form-control form-control-sm text-right" required>
                            <option value=""></option>
                            {% for dns_class in dns_classes %}
                            <option value="{{ dns_class }}" {{ 'selected' if is_edit and zone.rclass == dns_class }}>{{ dns_class }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="type">Type</label>
                        <select name="type" id="type" class="form-control form-control-sm text-right" required>
                            <option value=""></option>
                            {% for dns_type in dns_types %}
                            <option value="{{ dns_type }}" {{ 'selected' if is_edit and zone.type == dns_type }}>{{ dns_type }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="address">Address</label>
                        <input type="text" name="address" id="address" class="form-control form-control-sm text-right" value="{{ zone.address if is_edit }}" placeholder="192.168.0.1" required>
                    </div>

                    <div class="form-group row">
                        <div class="col">
                            <label for="active">Active</label>
                        </div>
                        <div class="col text-right">
                            <div class="custom-control custom-switch">
                                <input name="active" type="checkbox" class="custom-control-input" id="active" value="1" {{ 'checked' if zone.active }}>
                                <label class="custom-control-label" for="active"></label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block btn-sm">save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col"></div>
</div>
{% endblock %}