{% extends 'layout/base.html' %}

{% block content %}
<div class="row mt-5">
    <div class="col">
        <div class="clearfix mb-4">
            <div class="float-right">
                <a href="{{ url_for('dns.zone_edit', dns_zone_id=0) }}" class="btn btn-primary btn-sm"> <i class="fas fa-plus"></i> <span class="ml-1">new zone</span></a>
            </div>
        </div>

        {% if zones|length == 0 %}
        <div class="alert alert-info text-center">No zones configured yet.</div>
        {% else %}
        <table class="table table-sm table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>Domain</th>
                <th class="text-center">Active</th>
                <th class="text-center">Exact Match</th>
                <th class="text-center"></th>
            </tr>
            </thead>
            <tbody>
            {% for zone in zones %}
            <tr>
                <td>{{ zone.id }}</td>
                <td><a href="{{ url_for('dns.zone_view', dns_zone_id=zone.id) }}" class="text-info">{{ zone.full_domain }}</a></td>
                <td class="text-center">{{ 'Yes' if zone.active else 'No' }}</td>
                <td class="text-center">{{ 'Yes' if zone.exact_match else 'No' }}</td>
                <td class="text-center">
                    <a href="{{ url_for('dns.zone_edit', dns_zone_id=zone.id) }}"><i class="fas fa-edit"></i></a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
</div>
{% endblock %}