{% extends 'layout/base.html' %}

{% block content %}
<div class="row mt-5">
    <div class="col">
        <div class="clearfix mb-4">
            <div class="float-right">
                <a href="{{ url_for('dns.edit', dns_zone_id=0) }}" class="btn btn-primary btn-sm">create new zone</a>
            </div>
        </div>

        <table class="table table-sm table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>Domain</th>
                <th class="text-right">TTL</th>
                <th class="text-right">Class</th>
                <th class="text-right">Type</th>
                <th>Address</th>
                <th></th>
            </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
</div>
{% endblock %}