{% extends 'layout/base.html' %}

{% block content %}
<div class="row mt-5">
    <div class="col"></div>
    <div class="col-9">
        <ul class="nav nav-tabs mb-2">
            <li class="nav-item">
                <a class="nav-link {{ 'active' if type == '' }}" href="{{ url_for('dns.index') }}">Your Zones</a>
            </li>
            {% if current_user.admin %}
            <li class="nav-item">
                <a class="nav-link {{ 'active' if type == 'all' }}" href="{{ url_for('dns.index', type='all') }}">All Zones</a>
            </li>
            {% endif %}
        </ul>

        {% if type == '' %}
        <div class="clearfix mb-2">
            <div class="float-right">
                <a href="{{ url_for('dns.zone_edit', dns_zone_id=0) }}" class="btn btn-sm btn-primary"> <i class="fas fa-plus"></i> <span class="ml-1">new zone</span></a>
            </div>
        </div>
        {% endif %}

        {% if zones|length == 0 %}
        <div class="alert alert-info text-center">No zones configured yet.</div>
        {% else %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th style="width: 100%;">Domain</th>
                {% if type == 'all' %}
                <th>User</th>
                {% endif %}
                <th class="text-center">Active</th>
                <th class="text-center" style="white-space: nowrap;">Exact Match</th>
                <th class="text-center">Records</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for zone in zones %}
            <tr>
                <td>{{ zone.id }}</td>
                <td><a href="{{ url_for('dns.zone_view', dns_zone_id=zone.id) }}" class="text-info">{{ zone.full_domain }}</a></td>
                {% if type == 'all' %}
                <td>{{ zone.username }}</td>
                {% endif %}
                <td class="text-center">
                    {% set class = 'success' if zone.active else 'danger' %}
                    {% set icon = 'check' if zone.active else 'times' %}
                    <span class="text-{{ class }}"><i class="fas fa-{{ icon }} fa-fw"></i></span>
                </td>
                <td class="text-center">
                    {% set class = 'success' if zone.exact_match else 'danger' %}
                    {% set icon = 'check' if zone.exact_match else 'times' %}
                    <span class="text-{{ class }}"><i class="fas fa-{{ icon }} fa-fw"></i></span>
                </td>
                <td class="text-center">{{ zone.record_count }}</td>
                <td class="text-center" style="white-space: nowrap;">
                    <a href="{{ url_for('dns.zone_edit', dns_zone_id=zone.id) }}" title="edit zone"><i class="fas fa-edit"></i></a>
                    <a href="{{ url_for('logs.index', domain='%' ~ zone.full_domain, user_id=zone.user_id) }}" class="ml-1" title="view logs"><i class="fas fa-clipboard-list"></i></a>
                    <form action="{{ url_for('dns.zone_delete', dns_zone_id=zone.id) }}" method="post" class="d-inline ml-1" id="delete-zone-form-{{ zone.id }}">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                        <a href="#" class="confirm-delete text-danger" title="delete zone"><i class="fas fa-trash"></i></a>
                    </form>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
    <div class="col"></div>
</div>
{% endblock %}