{% extends 'layout/base.html' %}

{% block content %}
<div class="row mt-5">
    <div class="col"></div>
    <div class="col-6">
        <div class="card">
            <div class="card-header">{{ 'Edit' if dns_record_id > 0 else 'Create' }} DNS Record</div>
            <div class="card-body">
                <form action="{{ url_for('dns.record_edit_save', dns_zone_id=zone.id, dns_record_id=dns_record_id) }}" method="post">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

                    <div class="form-group">
                        <label for="ttl">TTL</label>
                        <input type="number" name="ttl" id="ttl" class="form-control form-control-sm text-right hide-spin-buttons" value="{{ record.ttl if dns_record_id > 0 }}" placeholder="60" required>
                    </div>

                    <div class="form-group">
                        <label for="class">Class</label>
                        <select name="class" id="class" class="custom-select custom-select-sm form-control text-right" required>
                            <option value=""></option>
                            {% for dns_class in dns_classes %}
                            <option value="{{ dns_class }}" {{ 'selected' if dns_record_id > 0 and record.rclass == dns_class }}>{{ dns_class }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="type">Type</label>
                        <select name="type" id="type" class="custom-select custom-select-sm form-control text-right" required>
                            <option value=""></option>
                            {% for dns_type in dns_types %}
                            <option value="{{ dns_type }}" {{ 'selected' if dns_record_id > 0 and record.type == dns_type }}>{{ dns_type }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="address">Resolve To</label>
                        <input type="text" name="address" id="address" class="form-control form-control-sm text-right" value="{{ record.address if dns_record_id > 0 }}" placeholder="192.168.0.1" required>
                    </div>

                    <div class="form-group row py-0 my-0">
                        <div class="col">
                            <label for="active">Active</label>
                        </div>
                        <div class="col text-right">
                            <div class="custom-control custom-switch">
                                <input name="active" type="checkbox" class="custom-control-input" id="active" value="1" {{ 'checked' if dns_record_id > 0 and record.active }}>
                                <label class="custom-control-label" for="active"></label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block btn-sm">save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col"></div>
</div>
{% endblock %}