<!doctype html>
<html class="h-100">
{% include 'layout/head.html' %}
<body class="d-flex flex-column h-100">

{% include 'layout/topmenu.html' %}

{% if current_user.is_authenticated and is_daemon_running() == False %}
<div class="container-flex">
    <div class="text-center">
        <div class="alert alert-danger">
            DNS Daemon Not Running
            {% if setting_get('dns_daemon_start_everyone', 0)|int == 1 %}
            -
            <form action="{{ url_for('config.system_daemon') }}" method="post" class="d-inline">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <input type="hidden" name="action" value="start">
                <a href="#" class="submit-on-click">Click here to start it</a>
            </form>

            {% endif %}
        </div>
    </div>
</div>
{% endif %}

<main role="main" class="flex-shrink-0">
    <div class="container">
        {% include 'layout/notifications.html' %}

        {% block content %}{% endblock %}
    </div>
</main>

{% include 'layout/addons.html' %}

{% include 'layout/footer.html' %}

{% if current_user.is_authenticated and setting_get('webpush_enabled', '0')|int == 1 %}
{% include 'layout/webpush.html' %}
{% endif %}

</body>
</html>