<!doctype html>
<html class="h-100">
{% include 'layout/head.html' %}
<body class="d-flex flex-column h-100">

{% include 'layout/topmenu.html' %}

{% if current_user.is_authenticated and is_daemon_running() == False %}
<div class="container-flex">
    <div class="text-center">
        <div class="alert alert-danger">DNS Daemon Not Running</div>
    </div>
</div>
{% endif %}

<main role="main" class="flex-shrink-0">
    <div class="container">
        {% include 'layout/notifications.html' %}

        {% block content %}{% endblock %}
    </div>
</main>

{% include 'layout/footer.html' %}

</body>
</html>