<footer class="footer mt-auto pt-5 pb-3">
    <div class="container text-center">
        <span class="text-default">
            {% set commit_count = setting_get('git_commit_count', 0)|int %}
            {% set last_commit_date = setting_get('last_commit_date', '') %}
            {% set hash_version = setting_get('git_hash_version', '') %}

            <span title="Commit: {{ hash_version }} | Commit Date: {{ last_commit_date }}">Context Information Security | SnitchDNS v{{ commit_count }}</span>
        </span>
    </div>
</footer>