<head>
    <meta charset="utf-8">
    <meta name="google" content="notranslate">
    <meta http-equiv="Content-Language" content="en">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.png') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.png') }}" type="image/x-icon">

    <title>SnitchDNS</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/themes/slate.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome/css/all.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/snitch.css') }}">

    <script type="text/javascript" src="{{ url_for('static', filename='js/lib/jquery.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/lib/jquery.validate.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/lib/popper.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/lib/bootstrap.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='fontawesome/js/all.js') }}"></script>
</head>