<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="{{ url_for('home.index') }}">
            <span><i class="fas fa-theater-masks text-danger"></i></span>
            SnitchDNS
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#top-menu" aria-controls="top-menu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse" id="top-menu">
            <ul class="navbar-nav ml-auto">
                {% if current_user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('logs.index') }}"><i class="fas fa-clipboard-list"></i> Logs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('dns.index') }}"><i class="fas fa-globe"></i> DNS Zones</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('config.index') }}"><i class="fas fa-cogs"></i> Settings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('auth.logout') }}" title="Logout {{ current_user.full_name }}"><i class="fas fa-sign-out-alt"></i> Logout</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>