<nav class="nav nav-pills flex-column pb-3">
    <a class="nav-link {{ 'active' if tab == 'records' }} px-3" href="{{ url_for('dns.zone_view', dns_zone_id=zone.id) }}">
        <div class="clearfix">
            <div class="float-left"><i class="fas fa-prescription fa-fw"></i> <span class="pl-2">Records</span></div>
            <div class="float-right"><span class="badge badge-pill badge-info">{{ zone.record_count }}</span></div>
        </div>
    </a>
    <a class="nav-link {{ 'active' if tab == 'notifications' }} px-3" href="{{ url_for('dns.zone_notifications', dns_zone_id=zone.id) }}">
        <div class="clearfix">
            <div class="float-left"><i class="fas fa-bell fa-fw"></i> <span class="pl-2">Notifications</span></div>
            <div class="float-right">
                <span class="badge badge-pill badge-info">{{ 'enabled' if zone.notifications.has_enabled() else 'disabled' }}</span>
            </div>
        </div>
    </a>
    <a class="nav-link {{ 'active' if tab == 'restrictions' }} px-3" href="{{ url_for('dns.zone_restrictions', dns_zone_id=zone.id) }}">
        <div class="clearfix">
            <div class="float-left"><i class="fas fa-map-signs fa-fw"></i> <span class="pl-2">Restrictions</span></div>
            <div class="float-right"><span class="badge badge-pill badge-info">{{ zone.restrictions.get_enabled()|length }}</span></div>
        </div>
    </a>
    <a class="nav-link px-3" href="{{ url_for('logs.index', domain='%' ~ zone.full_domain, user_id=zone.user_id) }}">
        <div class="clearfix">
            <div class="float-left"><i class="fas fa-clipboard-list fa-fw"></i> <span class="pl-2">View Logs</span></div>
            <div class="float-right"></div>
        </div>
    </a>
</nav>