{% extends 'layout/base.html' %}

{% block content %}
<div class="row mt-5">
    <div class="col"></div>
    <div class="col-6">
        <div class="card">
            <div class="card-header">{{ 'Edit' if dns_zone_id > 0 else 'Create' }} DNS Zone</div>
            <div class="card-body">
                <form action="{{ url_for('dns.zone_edit_save', dns_zone_id=dns_zone_id) }}" method="post">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

                    {% if current_user.admin %}
                    <div class="form-group">
                        <label for="domain">Domain</label>
                        <input type="text" name="domain" id="domain" class="form-control" value="{{ zone.domain if dns_zone_id > 0 }}" placeholder="any.domain.you.want.com" required autofocus>
                    </div>
                    {% else %}
                        {% if dns_zone_id > 0 and zone.master == True %}
                        <div class="form-group">
                            <div class="alert alert-info">This is a master zone - you can only edit the below settings.</div>
                        </div>
                        {% else %}
                        <div class="form-group">
                            <label for="domain">Domain</label>
                            <div class="input-group">
                                <input type="text" name="domain" id="domain" value="{{ zone.domain if dns_zone_id > 0 }}" class="form-control text-right" required autofocus>
                                <div class="input-group-append">
                                    <span class="input-group-text">{{ user_domain }}</span>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    {% endif %}

                    <div class="form-group row py-0 my-0">
                        <div class="col">
                            <label for="active">Active</label>
                        </div>
                        <div class="col text-right">
                            <div class="custom-control custom-switch">
                                <input name="active" type="checkbox" class="custom-control-input" id="active" value="1" {{ 'checked' if (dns_zone_id == 0) or (dns_zone_id > 0 and zone.active) }}>
                                <label class="custom-control-label" for="active"></label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row py-0 my-0">
                        <div class="col">
                            <label for="exact_match">
                                Exact Match
                                <a href="#" title="" data-container="body" data-toggle="popover" data-placement="right" data-content="The incoming DNS must match the full domain in order to get a response. Fallback matches will be ignored." data-original-title="Exact Match"><i class="fas fa-question-circle ml-1"></i></a>
                            </label>
                        </div>
                        <div class="col text-right">
                            <div class="custom-control custom-switch">
                                <input name="exact_match" type="checkbox" class="custom-control-input" id="exact_match" value="1" {{ 'checked' if (dns_zone_id == 0) or (dns_zone_id > 0 and zone.exact_match) }}>
                                <label class="custom-control-label" for="exact_match"></label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block">save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col"></div>
</div>
{% endblock %}