{% extends 'layout/base.html' %}

{% block content %}
<div class="row mt-5">
    <div class="col"></div>
    <div class="col-7">
        <h2 class="mb-0">{{ zone.full_domain }}</h2>
        <div>
            <a class="text-info" href="{{ url_for('dns.zone_edit', dns_zone_id=zone.id) }}"><i class="fas fa-edit fa-sm"></i></a>
            {% if zone.active %}
            <span class="badge badge-pill badge-success">active</span>
            {% else %}
            <span class="badge badge-pill badge-danger">inactive</span>
            {% endif %}

            {% if zone.exact_match %}
            <span class="badge badge-pill badge-primary">exact match</span>
            {% else %}
            <span class="badge badge-pill badge-primary">catch-all</span>
            {% endif %}

            {% if zone.notifications.is_enabled() %}
            <span class="badge badge-pill badge-success">notifications enabled</span>
            {% else %}
            <span class="badge badge-pill badge-warning">notifications disabled</span>
            {% endif %}
        </div>

        <ul class="nav nav-tabs mt-4">
            <li class="nav-item">
                <a class="nav-link {{ 'active' if tab == 'records' }}" href="{{ url_for('dns.zone_view', dns_zone_id=zone.id) }}">Records</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{ 'active' if tab == 'notifications' }}" href="{{ url_for('dns.zone_notifications', dns_zone_id=zone.id) }}">Notifications</a>
            </li>
        </ul>

        {% if section == 'records' %}
            {% include 'dns/zone/records.html' %}
        {% elif section == 'notifications' %}
            {% include 'dns/zone/notifications.html' %}
        {% elif section == 'emails_settings' %}
            {% include 'dns/zone/notifications/email.html' %}
        {% endif %}
    </div>
    <div class="col"></div>
</div>
{% endblock %}