{% extends 'layout/base.html' %}

{% block content %}
<div class="row mt-5">
    <div class="col-lg-3">
        {% set active_nav = 'azure' %}
        {% include 'config/includes/sidebar.html' %}
    </div>
    <div class="col-lg-7">
        <h4>Azure Authentication</h4>
        <form action="{{ url_for('config.azure_save') }}" method="post">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

            <div class="form-group row">
                <div class="col-3">
                    <label for="azure_enabled">Enable Azure Auth</label>
                </div>
                <div class="col text-right">
                    <div class="custom-control custom-switch">
                        <input name="azure_enabled" type="checkbox" class="custom-control-input" id="azure_enabled" value="1" {{ 'checked' if setting_get('azure_enabled', False) == True }}>
                        <label class="custom-control-label" for="azure_enabled"></label>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-3">
                    <label for="azure_tenant_id">Tenant ID</label>
                </div>
                <div class="col">
                    <input type="text" class="form-control text-right" name="azure_tenant_id" id="azure_tenant_id" value="{{ setting_get('azure_tenant_id', '') }}" placeholder="">
                </div>
            </div>
            
            <div class="form-group row">
                <div class="col-3">
                    <label for="azure_client_id">Client ID</label>
                </div>
                <div class="col">
                    <input type="text" class="form-control text-right" name="azure_client_id" id="azure_client_id" value="{{ setting_get('azure_client_id', '') }}" placeholder="">
                </div>
            </div>
            
            <div class="form-group row">
                <div class="col-3">
                    <label for="azure_client_secret">Client Secret</label>
                </div>
                <div class="col">
                    <input type="password" class="form-control text-right" name="azure_client_secret" id="azure_client_secret" value="{{ '********' if setting_get('azure_client_secret', '')|length > 0 }}" placeholder="">
                </div>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-block btn-primary">save</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}