{% extends 'layout/base.html' %}

{% block content %}
<div class="row mt-5">
    <div class="col-3">
        {% set active_nav = 'daemon' %}
        {% include 'config/includes/sidebar.html' %}
    </div>
    <div class="col-5">
        <form action="{{ url_for('config.daemon_save') }}" method="post">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

            <h4>DNS Daemon</h4>
            <div class="form-group row">
                <div class="col">
                    <label for="dns_daemon_bind_ip">Bind Local IP Address</label>
                </div>
                <div class="col">
                    <input type="text" class="form-control form-control-sm text-right" name="dns_daemon_bind_ip" id="dns_daemon_bind_ip" value="{{ setting_get('dns_daemon_bind_ip', '') }}" placeholder="Local IP or 0.0.0.0" autofocus>
                </div>
            </div>

            <div class="form-group row">
                <div class="col">
                    <label for="dns_daemon_bind_port">Bind Local Port</label>
                </div>
                <div class="col">
                    <input type="text" class="form-control form-control-sm text-right" name="dns_daemon_bind_port" id="dns_daemon_bind_port" value="{{ setting_get('dns_daemon_bind_port', '') }}" placeholder="between 1024 and 65535">
                </div>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-block btn-sm btn-primary">save</button>
            </div>
        </form>
    </div>
    <div class="col"></div>
</div>
{% endblock %}