{% extends 'layout/base.html' %}

{% block content %}
<div class="row mt-5">
    <div class="col-3">
        {% set active_nav = 'password' %}
        {% include 'config/includes/sidebar.html' %}
    </div>
    <div class="col-5">
        <h4>Update Password</h4>
        <form action="{{ url_for('config.password_save') }}" method="post">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

            <div class="form-group">
                <button type="submit" class="btn btn-block btn-sm btn-primary">save</button>
            </div>
        </form>
    </div>
    <div class="col"></div>
</div>
{% endblock %}