{% extends 'layout/base.html' %}

{% block content %}
<div class="row mt-5">
    <div class="col-3">
        {% set active_nav = 'smtp' %}
        {% include 'config/includes/sidebar.html' %}
    </div>
    <div class="col-5">
        <form action="{{ url_for('config.smtp_save') }}" method="post">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

            <div class="form-group row">
                <div class="col">
                    <label for="smtp_enable">Enable SMTP Notifications</label>
                </div>
                <div class="col text-right">
                    <div class="custom-control custom-switch">
                        <input name="smtp_enable" type="checkbox" class="custom-control-input" id="smtp_enable" value="1" {{ 'checked' if setting_get('smtp_enable', '0') == '1' }}>
                        <label class="custom-control-label" for="smtp_enable"></label>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <div class="col">
                    <label for="smtp_host">SMTP Host</label>
                </div>
                <div class="col">
                    <input type="text" class="form-control form-control-sm text-right" name="smtp_host" id="smtp_host" value="{{ setting_get('smtp_host', '') }}" placeholder="" required>
                </div>
            </div>

            <div class="form-group row">
                <div class="col">
                    <label for="smtp_port">SMTP Port</label>
                </div>
                <div class="col">
                    <input type="number" class="form-control form-control-sm text-right hide-spin-buttons" name="smtp_port" id="smtp_port" value="{{ setting_get('smtp_port', '') }}" placeholder="" required>
                </div>
            </div>

            <div class="form-group row">
                <div class="col">
                    <label for="smtp_tls">TLS</label>
                </div>
                <div class="col text-right">
                    <div class="custom-control custom-switch">
                        <input name="smtp_tls" type="checkbox" class="custom-control-input" id="smtp_tls" value="1" {{ 'checked' if setting_get('smtp_tls', '0') == '1' }}>
                        <label class="custom-control-label" for="smtp_tls"></label>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <div class="col">
                    <label for="smtp_user">SMTP User</label>
                </div>
                <div class="col">
                    <input type="text" class="form-control form-control-sm text-right" name="smtp_user" id="smtp_user" value="{{ setting_get('smtp_user', '') }}" placeholder="" required>
                </div>
            </div>

            <div class="form-group row">
                <div class="col">
                    <label for="smtp_pass">SMTP Pass</label>
                </div>
                <div class="col">
                    <input type="password" class="form-control form-control-sm text-right" name="smtp_pass" id="smtp_pass" value="********" placeholder="" required>
                </div>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-block btn-sm btn-primary">save</button>
            </div>
        </form>
    </div>
    <div class="col"></div>
</div>
{% endblock %}